
body {
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  background-color: #ffffff00;
}

.hero .hero-head,.hero-foot {
  background-color: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
}




/* Old Stuff */
.column .box {
  height: 100%;
}

.spaced-icons i:after {
  content: "";
  margin-left: 3pt;
}

html {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255,0.85);
}

.box {
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255,0.85);
}

#bgColorPreview {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.score {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.125;
}

.has-text-warning {
  color: #CF6A2E !important;
}

.glitch {
  font-family: 'Rubik Puddles', cursive;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.125;
}

.puddles {
  font-family: 'Rubik Puddles', cursive;
}

.bubbles {
  font-family: 'Rubik Bubbles', cursive;
}

.chelsea {
  font-family: 'Chelsea Market', cursive;
}

.no-vertical-space {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

#spectrum {
  background-image: url('/images/spectrum.png');
  background-size: cover;
  height: 20px;
}

#map-box {
  position: relative;
  background-image: url('/images/map.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 450px;
}

#map-box .img {
  position: absolute;
}

#map-owl {
  position: absolute;
  height: 50px;
  top: 200px;
  left: 70px;
}

#map-dog {
  position: absolute;
  width: 50px;
  top: 230px;
  left: 130px;
}

#map-squirrel {
  position: absolute;
  height: 40px;
  top: 180px;
  left: 140px;
}

#map-shrimp {
  position: absolute;
  width: 50px;
  top: 230px;
  right: 40px;
}

#canvasTF {
  display: none;
}